# ignore everything, only specific files added with `git add -f` will be tracked
*

# some directories are opted in, but files within them must still be added one by one
!btt/
!scripts/
!colorschemes/
!zsh_custom/
!enhancd/
!tmux/

!.config/
!.config/nvim/
!.config/alacritty/
!.config/tmux/

# files that are explicitly tracked

# vim
!.vimrc
!.ideavimrc

# term
!.config/alacritty/alacritty.yml
!.config/alacritty/

# tmux
!.tmux.conf

# zsh
!.zshrc
!.zprofile
!.fzf.zsh

# git
!.gitmodules
!.gitignore_global
!.gitignore
