[submodule "enhancd"]
	path = enhancd
	url = git@github.com:b4b4r07/enhancd.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".config/alacritty/base-16"]
	path = .config/alacritty/base-16
	url = https://github.com/aarowill/base16-alacritty
[submodule "src/noeol"]
	path = src/noeol
	url = git@github.com:s4y/noeol.git
